body{
    background-color: $primary-c;
    margin: 0;
    min-width: 260px;
}



.p_base{
    color: white;
    margin: 0;
}

.margins_div{
    padding: 0 $pad-mobile;

    @media screen and (min-width: $tablet-size){
        padding: 0 $pad-tablet;
    }

    @media screen and (min-width: $PC-size){
        padding: 0 $pad-PC;
    }
    
}
