
.intro_kouc_box{
    display: grid;

    @media screen and (min-width: $tablet-size){
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $PC-size){
        grid-template-columns: repeat(3, 1fr)
    }
}

.intro_div_onekouc{
    margin-top: 20px;
   
}

.into_div_onekouc_name{
    color: $tertiary-c;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-left: 50px;
   
}

.foto_kouc_circle{
    border-radius: 50%;
    border: 2px solid $quinary-c;
    max-width: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

.into_div_onekouc_about{
    color: $quaternary-c;
    margin: 16px 50px;
    text-align: justify;
}

.into_div_onekouc_web{
    color: $quinary-c;
    text-decoration: none;
    display: block;
    text-align: end;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}